rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    function isTeacher() {
      return request.auth != null && request.auth.token.role == 'teacher';
    }

    function isStudentInClass(classId) {
      return request.auth.token.email in get(/databases/$(database)/documents/classes/$(classId)).data.students;
    }

    match /users/{userId} {
      allow read, write: if request.auth.uid == userId;
    }

    match /students/{studentId} {
      allow read: if isTeacher();

      match /classes/{classId} {
        allow delete: if isTeacher();
      }

      match /messages/{messageId} {
        allow create: if isTeacher();
        allow read: if request.auth.token.email == studentId;
      }
    }

    match /classes/{classId} {
      allow read: if isTeacher() || (request.auth.token.email in resource.data.students);
      allow create: if isTeacher() &&
                    (classId == 'demo' ||
                     (request.resource.data.teachers is list &&
                      request.auth.token.email in request.resource.data.teachers &&
                      classId.size() >= 3));
      allow update, delete: if isTeacher();

      match /messages/{messageId} {
        allow create: if isTeacher();
        allow read: if isTeacher() || isStudentInClass(classId);
      }

      match /status/{studentId} {
        allow read: if isTeacher() || isStudentInClass(classId);
        allow write: if isStudentInClass(classId) && request.auth.uid == studentId;
      }
    }

    match /screenshots/{screenshotId} {
        allow read: if isTeacher();
        allow create: if request.auth.uid == request.resource.data.studentId && 
                         isStudentInClass(request.resource.data.classId);
        allow delete: if isTeacher();
    }

    match /prompts/{promptId} {
      allow read, write: if isTeacher();
    }

    match /irregularities/{irregularityId} {
      allow read: if isTeacher() || request.auth.token.email == resource.data.email;
      allow create: if isTeacher();
    }

    match /progress/{progressId} {
      allow read, create: if isTeacher();
    }

    match /videoJobs/{jobId} {
      allow create: if isTeacher();
      allow read: if isTeacher();
    }

    match /zipJobs/{jobId} {
      allow create: if isTeacher();
      allow read: if isTeacher();
    }

    match /mails/{mailId} {
      allow read, update: if isTeacher() && request.auth.token.email == resource.data.to;
    }

    match /teachers/{teacherId} {
      allow read: if isTeacher() && request.auth.token.email == teacherId;

      match /messages/{messageId} {
        allow read: if isTeacher() && request.auth.token.email == teacherId;
        allow create: if isTeacher(); 
      }
    }
  }
}
