.individual-student-view-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.individual-student-view-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 90vw;
  height: 90vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.individual-student-view-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.individual-student-view-header h2 {
  white-space: nowrap;
}

.message-sender {
  display: flex;
  flex-grow: 1;
  margin: 0 20px;
}

.message-sender input {
  flex-grow: 1;
  margin-right: 10px;
}

.individual-student-view-body {
  flex-grow: 1;
  overflow-y: auto;
}

.individual-student-view-body img {
  width: 100%;
  height: auto;
}
